.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
 
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind', sans-serif !important;
}

/*GENERAL*/
/*shortcut buttons*/
table {
    width: 100%;
    table-layout: fixed;
}

.button-row {
    justify-content: space-between;
} 

.button-row button {
    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 2px solid #4A6CA4;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.button-name-row span {
    color: #4A6CA4 !important;
    font-size: 13px;
    width: 88px;
    text-align: center;
    margin: auto 0 ;
}

#line {
    height: 2px;
    width: 100%;
    background-color:#4A6CA4;
    position:relative;
    top: 40px;
}

.activebtn {
    background-color: #4A6CA4 !important;
    color: white !important;
}

.closebtn {
    text-decoration: none !important;
    color: #888;
}

.closebtn:hover {
    color: #555;
}

/*messages*/
.messages {
    list-style-type: none;
}

/*1 GOALS*/
.card.card-body.form-card {
    background-color: #e8eef3;
    border: #d8e7f3 solid 1px;
}

.card {
    overflow: auto;
}

/*4 UPDATE*/
/*average score*/
.card.score-card {
    max-width: 250px;
    border-radius: 5px;
    color: #555;
    border-left: 3.5px solid #2952A4 !important;
}


.leftborder {
    border-left: 1.9px solid #dee2e6 !important;

}