<!--Inherit HTML from parent class 'utiltiypage'-->
{%extends 'homepage.html'%}

<!--Load static is to load static files (HTML/CSS/Js)-->
{%load static%}
<!--To inform website version of HTML-->
<!DOCTYPE html>
<!--Inform website of language of HTML-->
<html lang="en">
<!--Header--> 
<head>
    <!--HTML inheritance: overriding parent class title block(Django exclusive)-->
    <title>{%block title%}Appraisal Details{%endblock%}</title>

    {%block script1%}
    <!--css-->
    <link rel = "stylesheet" type="text/css" href = "{% static 'Appraisals/HuNet_DetailAppraisal.css' %}">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/custom.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@600&display=swap" rel="stylesheet"> <!--hind-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> <!--open sans-->
    
    <script>
        /*tabs*/ 
        function openCity(evt, cityName, classOfTabContent, classOfTabLink) {
            var i, x, tablinks;

            x = document.getElementsByClassName(classOfTabContent);
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName(classOfTabLink);
            for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", " ");
            }

            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        /*accordion table*/
        $('.accordion-toggle').click(function(){
            $('.hiddenRow').hide();
            $(this).next('tr').find('.hiddenRow').show();
        }); 

        /*tooltips*/
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        /*dropdown menu*/
        $(document).ready(function(){
            $(".dropdown-toggle").dropdown();
        });

        /*alert*/
        $(document).ready(function(){
            $(".alert").alert('close');
        });


        <style>

        </style>
    </script>

    {%endblock%}
</head>

<body>
    {%block content%}
    <div class = "container">
        <br>
        <a href="{%url 'user_homepage'%}"><i class="fa fa-angle-double-left" style = "font-size: 30px" aria-hidden="true"></i></a>
        <br><br>

        <!--test-->
        <div class = "card-deck overview-card-row">

            <div class = "card card-body bg-c-blue">
                <p class="m-b-20">User</p>
                <p class="text-right"><i class="fa fa-user-o f-left"></i><b>{{object.employee.name}}</b></p>
                <!--<p class="m-b-0">Completed Orders<span class="f-right">351</span></p>-->
            </div>

            <div class = "card card-body bg-c-green">
                <p class="m-b-20">Appraisal</p>
                <p class="text-right"><i class="fa fa-list-alt f-left"></i><b>{{object.appraisal_category.name}}: {{object.overall_appraisal.name}}</b></p>

            </div>

            <div class = "card card-body bg-c-yellow">
                <p class="m-b-20">Goals Count</p>
                <h2 class="text-right"><i class="fa fa-trophy f-left"></i><span>{{object.goals_set.count}}</span></h2>
            </div>

            <div class = "card card-body bg-c-pink">
                <p class="m-b-20">Core Values Count</p>
                <h2 class="text-right"><i class="fa fa-certificate f-left"></i><span>{{object.competencies_set.count}}</span></h2>
            </div>

            <div class = "card card-body bg-c-pink">
                <p class="m-b-20">Skills Count</p>
                <h2 class="text-right"><i class="fa fa-puzzle-piece f-left"></i><span>{{object.skills_set.count}}</span></h2>
            </div>

        </div>
        <!--end of test-->

        <br>
            {%if object.status == 'Employee'%} 
            <div class="alert alert-secondary" role="alert" style = "border-left: 3px solid grey">
                Employee has not submitted <strong>Goals, Core Values Competencies and Skills</strong>.
            </div>
            
            {%elif object.status == 'Manager'%} 
            <div class="alert alert-warning" role="alert" style = "border-left: 3px solid orange">
                Goals, Core Values Competencies and Skills are <strong>pending approval</strong>.
            </div>
            <br>

            <div class = "row justify-content-end m-0">
                <a class = "btn btn-danger btn-sm mr-2" href="{%url 'Appraisals:MtE_Appraisal' object.id%}">Reject Appraisal&nbsp;<i class="fa fa-times-circle" aria-hidden="true" title="Reject"></i></a>
                <a class = "btn btn-success btn-sm" href="{%url 'Appraisals:MtS1BE_Appraisal' object.id%}">Approve Appraisal&nbsp;<i class="fa fa-check-circle" aria-hidden="true" title="Approve"></i></a>
            </div>

            {%else%} 
            <div class="alert alert-success" role="alert" style = "border-left: 3px solid green">
                Goals, Core Values Competencies and Skills have been <strong>approved</strong>! 
            </div>

            <div class = "row justify-content-end m-0">
                <a class = "btn btn-danger btn-sm mr-2 disabled" href="">Reject Appraisal&nbsp;<i class="fa fa-times-circle" aria-hidden="true" title="Reject"></i></a>
                <a class = "btn btn-success btn-sm disabled" href="">Approve Appraisal&nbsp;<i class="fa fa-check-circle" aria-hidden="true" title="Approve"></i></a>
            </div>
        {%endif%}


        <br>

            


        <div class = "card card-table">
            <div class = "card-header border-0">
                <h5 class = "mb-0">Goals</h5>
            </div>

            <div class = "card-body py-0">
                <table class = "table fixed mb-0 pb-0">
                    <thead>
                        <tr>
                            <th style = "width: 150px;">Category</th>
                            <th colspan=2>Goal Title</th>
                            <th>Objective</th>
                            <th>Due</th>
                            <th>Progress</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if object.goals_set.count == False %}
                        <tr>
                            <td colspan = "6">They do not have any Goals currently.</td>
                        </tr>
                        {%else%} 

                        {% for goals in object.goals_set.all %}
                        <tr>
                            <td>{{goals.goal_category.name}}</td>
                            <td>{{goals.summary}}</td>
                            <td><button id = "seeMore" data-toggle="collapse" data-target="#collapse{{goals.id}}" class="accordion-toggle" type="button"><i class="fa fa-chevron-down"  alt = "See More"></i></button></td>
                            <td>{{goals.description}}</td>
                            <td>{{goals.due}}</td>
                            
                            <td> 
                                {%if goals.get_kpi_percentage < 0 %}
                                No KPIs
                                {%elif goals.get_kpi_percentage <= 99 %}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: {{goals.get_kpi_percentage}}%;" aria-valuenow="{{goals.get_kpi_filtered_completed.count}}" aria-valuemin="0" aria-valuemax="{{goals.kpi_set.count}}">{{goals.get_kpi_percentage}}%</div>
                                </div>
                                {%else%}
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{goals.get_kpi_percentage}}%;" aria-valuenow="{{goals.get_kpi_filtered_completed.count}}" aria-valuemin="0" aria-valuemax="{{goals.kpi_set.count}}">{{goals.get_kpi_percentage}}%</div>
                                </div>
                                {%endif%}</td>
                        </tr>

                        
                        <tr class="p">
                                <td colspan="10" class="hiddenRow">
                                    <div class="accordian-body collapse" id="collapse{{goals.id}}">
                                        <br>
                                        <span style = "margin-right: 5%; float: right; font-size:14px">Tracking Source/Documents: <strong>{{goals.metrics_Used}}</strong></span><br>
                                        
                                        <br>
                                        <table class = "KPItable">
                                            <thead>
                                                <tr>
                                                    <th>KPI Description</th>
                                                    <th>Due</th>
                                                    <th>Progress</th>
                                                    <th>Date Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%if goals.kpi_set.all.count == False%}
                                                <td colspan="4">Please add KPIs</td>
                                                {%else%}
                                                {%for kpi in goals.kpi_set.all%}
                                                <tr>
                                                    <td>{{kpi.description}}</td>
                                                    <td>{{kpi.due}}</td>
                                                    <td><form class="range-field my-4 w-50">
                                                    <input type="range" min="0" max="100" />
                                                    </form></td>
                                                    <!--<td class="editable" data-id="{{kpi.id}}" data-type="progress">{{kpi.progress}}</td>-->
                                                    <td>{{kpi.date_created}}</td>
                                                </tr>
                                                {%endfor%}
                                                {%endif%}
                                            </tbody>
                                        </table>
                                        <br>
                                    </div> 
                                </td> 
                            </tr>
                            {%endfor%}
                            {%endif%}
                    </tbody>
                </table>
            </div>
        </div>


        <br><br> 

        <div class = "card card-table">
            <div class = "card-header border-0">
                <h5 class = "mb-0">Core Values Competencies</h5>
            </div>

            <div class = "card-body py-0">
                <table class = "table fixed mb-0 pb-0">    
                    <thead>
                        <tr>
                            <th style = "width: 150px;">Category</th>
                            <th>Core Values Competency</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object.competencies_set.count == False %}
                        <tr>
                            <td colspan = "3">They do not have any Core Values Competencies currently.</td>
                        </tr>
                        {%else%} 

                        {% for competencies in object.competencies_set.all%}
                        <tr>
                            <td>{{competencies.competency_category.name}}</td>
                            <td>{{competencies.summary}}</td>
                            <td>{{competencies.description}}</td>
                        </tr>
                        {%endfor%}
                        {%endif%}
                    </tbody>
                </table>
            </div>
        </div>    
            
        <br><br>

        <div class = "card card-table">
            <div class = "card-header border-0">
                <h5 class = "mb-0">Skills</h5>
            </div>

            <div class = "card-body py-0">
                <table class = "table fixed mb-0 pb-0">
                    <thead>
                        <tr>
                            <th style = "width: 150px;">Category</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if object.skills_set.count == False %}
                        <tr>
                            <td colspan = "2">They do not have any Skills currently.</td>
                        </tr>
                        {%else%} 

                        {%for skills in object.skills_set.all%}
                        <tr>
                            <td>{{skills.skill_category.name}}</td>
                            <td>{{skills.description}}</td>
                        </tr>
                        {%endfor%}
                        {%endif%}
                    </tbody>
                </table>
            </div>
        </div>

        <br><hr><br>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
    {%endblock%}

</body>