{%extends 'Appraisals/HuNet_UpdateC.html'%}
{%load static%}
{%block heading%}<h4 class = "heading"> Board-Rating: Core Value Competencies</h4>{%endblock%}

{%block bubbleurl%}
<div id="line"></div>
<div class = "row button-row"  style = "margin: 0">
    <a href="{% url 'Appraisals:Update_AppraisalG_B' employee_appraisal.id %}"><button type = "button" class = "btn">1</button></a>
    <a href="{% url 'Appraisals:Update_AppraisalC_B' employee_appraisal.id %}"><button type = "button" class = "btn activebtn">2</button></a>
    <a href="{% url 'Appraisals:Update_AppraisalS_B' employee_appraisal.id %}"><button type = "button" class = "btn">3</button></a>
    <a href="{% url 'Appraisals:Update_AppraisalCareer_B' employee_appraisal.id %}"><button type = "button" class = "btn">4</button></a>
    <a href="{% url 'Appraisals:Update_Appraisal_B' employee_appraisal.id %}"><button type = "button" class = "btn">5</button></a>
</div> 
<div class = "row button-name-row justify-content-between m-0">
    <span>Goals Rating</span>
    <span>Core Values Competencies Rating</span>
    <span>Skills Rating</span>
    <span>Career Discussion</span>
    <span>Summary</span>
</div>
{%endblock%}