<!--Inherit HTML from parent class 'sidenav'-->
{%extends 'sidenav.html'%}

<!--Load static is to load static files (HTML/CSS/Js)-->
{%load static%}
<!--To inform website version of HTML-->
<!DOCTYPE html>
<!--Inform website of language of HTML-->
<html lang="en">
<!--Header-->
<head>
    <!--HTML inheritance: overriding parent class title block(Django exclusive)-->
    <title>{%block title%}Create Rating Scale{%endblock%}</title>
</head>
<body>
    {%block content%}

    <div class = "container col-6">
    <!--HTML form, action on current page, use 'POST' method (secure)-->
        <div class = "card card-body">
            <form action= "" method = "POST">
                <div class="form-group">
                    <!--Django Exclusive: CSRF token is a random, hard-to-guess string, prevent CSRF atk-->
                    {%csrf_token%}
                    
                    <!--Generate form organised in paragraphs based on query on CreateCompetencies in GnC/views.py-->
                    {{form.as_p}}

                    <div class = "row justify-content-end m-0">
                        <a href = "{% url 'user_homepage'%}" class = "btn btn-danger mr-2" type = "button">Cancel</a>
                        <input type = 'submit' value = "Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {%endblock%}
</body>
</html>