{%extends 'Appraisals/HuNet_CreateOverallApp_Stage1.html'%}

{%block instructions%}
<!--bubble url-->
<div id="line"></div>
<div class = "row button-row m-0">
    <a href=""><button type = "button" class = "btn">1</button></a>
    <a href=""><button type = "button" class = "btn activebtn">2</button></a>
    <a href=""><button type = "button" class = "btn">3</button></a>
    <a href=""><button type = "button" class = "btn" title = "Coming Soon">4</button></a>
</div>
<div class = "row button-name-row justify-content-between m-0">
    <span>Add User to Appraisal</span>
    <span>Initialise Appraisal Dates</span>
    <span>Initialise Appraisal Weightages</span>
    <span>Summary<br>(Coming Soon)</span>
</div>
<!--end of bubble url-->

<br>

<div class = "card card-body mb-0 pb-0">
    <ol> 
        <strong>Instructions:</strong>
        <li>Enter the start & end dates for each of the appraisal stage</li>
        <li>Click "Submit"</li>
    </ol>
</div>
{%endblock%}
{%block form %}
    <br>
    <h4>Goals Launching</h4>
    <hr>
    Start Date (DD/MM/YYYY):
    {{form.start_date}}<br>
    End Date (DD/MM/YYYY):
    {{form.goals_setting_end_date}}<br><br>
    <h4>Mid-Year Review</h4>
    <hr>
    Start Date (DD/MM/YYYY):
    {{form.mid_year_start_date}}<br>
    End Date (DD/MM/YYYY):
    {{form.mid_year_end_date}}<br><br>
    <h4>Year-End Review</h4>
    <hr>
    Start Date (DD/MM/YYYY):
    {{form.end_year_start_date}}<br>
    Review End Date (DD/MM/YYYY):
    {{form.appraisal_end_date}}<br>
    Moderation By Management End Date (DD/MM/YYYY):
    {{form.reports_end_date}}<br>
    Calibration End Date (DD/MM/YYYY):
    {{form.calibration_end_date}}<br><br>

    <h4>New Hire Performance Review Launch</h4>

    The New Hire Performance Review Launch will be done on a separate appraisal
    <br><br>
{%endblock%}
{%block selectemployee%}
{%endblock%}
