<!--Inherit HTML from parent class 'sidenav'-->

 
<!--Load static is to load static files (HTML/CSS/Js)-->
{%load static%}
{% load crispy_forms_tags %}
<!--To inform website version of HTML-->
<!DOCTYPE html>
<!--Inform website of language of HTML-->
<html lang="en">
<!--Header--> 
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--HTML inheritance: overriding parent class title block(Django exclusive)-->
    <title>{%block title%}Self Appraisal{%endblock%}</title>
</head>
<body>
    {%block content%}
    
    <!--HTML form, action on current page, use 'POST' method (secure)-->
    
    <div class = "container col-6">
        <br>
        <div class = "card card-body">
            <form action='' method = "POST">
                <h4>Answer Peer Appraisals</h4><hr><br>
                <!--Django Exclusive: CSRF token is a random, hard-to-guess string, prevent CSRF atk-->
                {%csrf_token%}

                <h4>Question 1: </h4>
                Question: 
                {{form.title1}}<br>
                Strength:
                {{form.strength1}}<br>
                Weakness / Area Of Development:
                {{form.weaknessdevelopment1}}<br><br>

                <h4>Question 2: </h4>
                Question: 
                {{form.title2}}<br>
                Strength:
                {{form.strength2}}<br>
                Weakness / Area Of Development:
                {{form.weaknessdevelopment2}}<br><br>
                
                <h4>Question 3: </h4>
                Question: 
                {{form.title3}}<br>
                Strength:
                {{form.strength3}}<br>
                Weakness / Area Of Development:
                {{form.weaknessdevelopment3}}<br><br>
                
                <div class = "row m-0 justify-content-end">
                    <a href = "{% url 'user_homepage'%}" class = "btn btn-danger mr-1" type = "button" value = "Cancel">Cancel</a>
                    <input class = "btn btn-primary ml-1" type = 'submit' value = "Submit">
                </div>
            </form>
        </div>
    </div>
    {%endblock%}
</body>
</html>