<!--Inherit HTML from parent class 'sidenav'-->
{%extends 'sidenav.html'%}

<!--Load static is to load static files (HTML/CSS/Js)-->
{%load static%}
<head>
    <!--HTML inheritance: overriding parent class title block(Django exclusive)-->
    <title>{%block title%}Profile Creation {%endblock%}</title>
</head>
<body>

    {%block content%}
    <!--HTML form, action on current page, use 'POST' method (secure)-->
    <form action= "" method = "POST">
        <!--Django Exclusive: CSRF token is a random, hard-to-guess string, prevent CSRF atk-->
        {%csrf_token%}

        <!--Generate form organised in paragraphs based on query on CreateProfile in GnC/views.py-->
        {{form.as_p}}
        <input type = 'submit' value = "Create Profile">
    </form>
    {%endblock%}
</body>
</html>